Import the libraries

In [1]:
import json
import sqlite3
import pandas as pd
from langchain_openai import ChatOpenAI
import os
import re
import chromadb
from openai import OpenAI

Connect to sqlite db

In [2]:
cols = ['showname','first_airing','imdb','lang','description']
def fetch_rows(limit: int, offset: int):
    conn = sqlite3.connect("movie_db.sqlite")
    cursor = conn.cursor()
    executor = cursor.execute(f'select {",".join(cols)} from tvmaze where metadata is null and description is not null order by showname asc limit {limit} offset {offset}')
    data = executor.fetchall()
    cursor.close()
    conn.close()
    return data

pd.DataFrame(fetch_rows(100, 0), columns=cols)

,showname,first_airing,imdb,lang,description
0,'Allo 'Allo!,1982-12-30,tt0086659,English,"<p>In this spoof of World War II, René Artois ..."
1,'Orrible,2001-09-10,tt0299233,English,<p>Paul Clark is a cab driver and wannabe smal...
2,'Run Sbit,2016-04-01,None,Welsh,<p>Satirical comedy series in a fly on the wal...
3,'Til Death Do Us Part,2007-03-19,None,English,<p><b>'Til Death Do Us Part</b> is murder-myst...
4,'Til Death Do Us Part,2019-07-09,tt10553838,English,<p><b>'Til Death Do Us Part</b> follows lovers...
...,...,...,...,...,...
95,A Hundred Year's Inheritance,2013-01-05,tt5679588,Korean,<p>A warm-hearted family drama about a long-ru...
96,A Impostora,2016-09-04,tt5187234,Portuguese,<p>The story of Two twins sisters. One was rap...
97,A Killer's Mistake,2018-10-02,tt11611382,English,<p>Ten iconic and international murder stories...
98,A Kind of Living,1988-02-19,tt0282308,English,<p>A late '80s British comedy about a married ...
99,A Life Time Love,2017-06-12,tt6035380,Chinese,<p>The story takes place in a mythological wor...

Prepare NLU

In [3]:
# Initialize a ChatOpenAI model
llm = ChatOpenAI(
    model="gpt-4o-mini",
    api_key=os.getenv('OPENAI_KEY'),
    # model="deepseek-r1-distill-llama-8b",
    # openai_api_base='http://127.0.0.1:1234/v1',
)

Tools for extracting metadata

In [4]:
def generate_prompt(values: list[str]):
    with open(f'./prompts/movie_metadata_extraction.txt', 'r') as file:
        data = file.read().rstrip()
        index=0
            
        while(data.find(f"!<INPUT_{index}>") > 0):
            data = data.replace(f"!<INPUT_{index}>", values[index] if len(values) > index is not None else '')
            index+=1
        return data

    return None;

Define job to process data

In [14]:
from langchain.schema import HumanMessage
from IPython.display import clear_output

def process_job(limit: int, offset: int) -> list[dict]:
    results = []
    completed = 0
    data = fetch_rows(limit, offset)
    for row in data:
        if(row[4] is not None and len(row[4]) > 0):
            prompt = generate_prompt([row[4]])
            output = llm.invoke([HumanMessage(content=prompt)])
            json_str = re.findall(r"```json(.*?)```", output.text(),re.DOTALL)
            if(len(json_str) > 0):
                try:
                    structured_data = json.loads(json_str[0])
                    conn = sqlite3.connect("movie_db.sqlite")
                    cursor = conn.cursor()
                    showname:str = row[0].replace("'", "\\'")
                    cursor.execute(f'update tvmaze set metadata = \'{json.dumps(structured_data)}\' where showname = \'{showname}\'')
                    conn.commit()
                    cursor.close()
                    conn.close()
                    results.append(structured_data)
                except Exception  as e:
                    # print(row[0])
                    # print(e)
                    pass
            completed+=1
            clear_output(wait=True)
            print(f"{completed}/{limit} done ({round(completed/limit, 2) * 100}%)")
            
    return results;

Process the data

In [ ]:
results = process_job(2000,0)

158/2000 done (8.0%)

Define tools for vector embeddings

In [ ]:
client = OpenAI(api_key="fake", base_url='http://127.0.0.1:1234/v1')
chroma_client = chromadb.PersistentClient(path="./chroma_db")  
collection = chroma_client.get_or_create_collection(name="movies")

def get_embedding(text):
    response = client.embeddings.create(model="text-embedding-nomic-embed-text-v1.5", input=text)
    return response.data[0].embedding

def db_to_embeddings(limit: int, offset: int):
    cols = ['showname','first_airing','imdb','lang','description', 'metadata']
    conn = sqlite3.connect("movie_db.sqlite")
    cursor = conn.cursor()
    executor = cursor.execute(f'select {",".join(cols)} from tvmaze where metadata is not null and processed is null order by showname asc limit {limit} offset {offset}')
    rows = executor.fetchall()

    
    for row in rows:
        title = row[0]
        description=  row[4]
        id = f"{title}-{row[2]}"
        text = f"{title} {description}" 
        language = row[3] 

        embedding = get_embedding(text)
        metadata : dict = json.loads(row[5])
        parsed_metadata: dict = {}
        
        for key in metadata.keys():
            if(len(metadata[key]) == 0):
                continue
            parsed_metadata[key] = ','.join(metadata[key])

        parsed_metadata["title"] = title if title is not None else ''
        parsed_metadata["language"] = language if language is not None else ''
        parsed_metadata["aired"] = row[1] if row[1] is not None else ''
        print(parsed_metadata)
      
        collection.add(
            ids=[id],
            embeddings=[embedding],
            metadatas=[parsed_metadata]
        )
        
        cursor = conn.cursor()
        executor = cursor.execute(f'update tvmaze set processed = true where showname = \'{title}\'')
        conn.commit()
    cursor.close()
    conn.close()

Get word embeddings

In [ ]:
db_to_embeddings(10,0)

Add of existing embedding ID: 3B no Koibito-None
Insert of existing embedding ID: 3B no Koibito-None

{'characters': 'Kobayashi Haruka,Shintaro,Yu,Yoshi', 'genre': 'romance,drama', 'title': '3B no Koibito', 'language': 'Japanese', 'aired': '2021-01-09'}

OperationalError: database is locked

Testing query

In [75]:
query_text = "movies about history"
query_embedding = get_embedding(query_text)

results = collection.query(
    query_embeddings=[query_embedding],
    n_results=5
)

for movie in results["metadatas"][0]:
    print(f"Title: {movie['title']} | Language: {movie['language']}")

Title: 1000 Years of History | Language: English
Title: 12 Monkeys | Language: English
Title: 14 - Diaries of the Great War | Language: French
Title: 1066: A Year to Conquer England | Language: English
Title: 11.22.63 | Language: English